.receitaPost{/*each individual post*/
    
    border: 15px solid #101820;
    background: #ffc72c;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.receitaIMG{/*each img in the post*/
    object-fit: cover;
    display: flex;
    width: 260px;
    height: 100%;
}