.postContainer{
    display:flex;
    flex-direction: column;
    margin:5px;
    width:300px;
}
.postDetails{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.postComments{
    flex-grow: 1;
    text-align: right;
}
.postLikes{
    flex-grow: 1;
}
.postImg{
    display: block;
    max-width: 300px;
    height: auto;
    width:auto;
}