.aboutContainer{
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.alunosContainer{
    display: flex;
    justify-content: center;
}
.aboutImg{
    height: 300px;
}
.aboutDiscription{
    font-size: 30px;
}