.homePageContainer{
  height: 100%;
  padding-top:50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginContainer{
  padding: 10px;
  border:solid grey 2px;
  display:flex;
  flex-direction: column;
}