.navbarCont{
    display: flex;
    background-color: brown;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
    position: fixed;
    width:100%;
}
.navbar{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-grow: 1;
    justify-content:center;
    color: white;
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 100%;
    justify-content: flex-start;
}
h2{
    margin:auto;
}
